@font-face {
    font-family: 'PixelMplus10';
    src: url("../font/PixelMplus10-Regular.ttf"),
         url("../font/PixelMplus10-Regular.eot"),
         url("../font/PixelMplus10-Regular.woff"),
         url("../font/PixelMplus10-Regular.woff2");
}

body {
    background-color: black;
    text-align: center;
    color: white;
    font-family: 'PixelMplus10' !important;
}

.container {
    padding-top: 10rem !important;
    max-width: 55rem !important;
}

.result {
    border: 4px white solid !important;
    border-radius: 10px !important;
}

.button-green {
    background-color: green !important;
    border-color: green !important;
}

.button-sky {
    background-color: #7cc8e9 !important;
    border-color: #7cc8e9 !important;
}

.row-space {
    padding-top: 1rem !important;
    padding-bottom: 1rem !important;
}

.message {
    color: white;
}

.show-only-mobile {
    display: inline !important;
}

.show-only-over-mobile {
    display: none !important;
}

@media (min-width: 40.0rem) {
    .show-only-mobile {
        display: none !important;
    }
    .show-only-over-mobile {
        display: inline !important;
    }
}